<!-- CHI SIAMO -->
<div class="container bg-light shadow-lg" style="border-style:solid; border-color: #283869; border-radius: 2em; margin-bottom: 1em;">
    <div class="container px-3 py-5">

        <h3>Chi siamo</h3>

        <hr>
        <br>
        <p class="text-center"> 
          L’Associazione Pattinaggio Conselve ASD nasce nel 2004 per volontà di alcuni genitori e dell'ex Presidente Simone Bregantin e da allora si cimenta nelle discipline del pattinaggio artistico e inline sia a livello agonistico che promozionale. 
          Per la stagione sportiva 2023/2024 l’associazione conta un centinaio di atleti iscritti.<br>
          <br>
          
          La nostra associazione con la propria attività, si propone sia di crescere i campioni di domani mettendo a disposizione tecnici federali e professionisti del settore, sia di valorizzare lo sviluppo armonico psicofisico dei ragazzi secondo le caratteristiche di tali discipline sportive. Si propone inoltre ai ragazzi momenti di crescita personale attraverso attività di confronto positivo, di rispetto delle regole e delle persone. Guida i bambini e i ragazzi alla maturazione di atteggiamenti di responsabilità nelle attività intraprese, propone ed organizza momenti di gioco e di espressione corporea mirati a sviluppare socializzazione, aiuto reciproco e rispetto delle diverse capacità ed età. 
          
          
          E’ proprio per dare spazio agli atleti di tutte le capacità ed età che il Pattinaggio Conselve dal 2019 ha creato il “Trofeo Promozionale Pattini D’Oro”, unico appuntamento del suo genere in tutta la regione, e dal 2023 il “Trofeo Interregionale Città di Conselve”.

          <br>
          Nonostante le difficoltà create dall’emergenza sanitaria degli ultimi anni la nostra associazione ha avuto una crescita sia numerica che di risultati soprattutto nel settore del pattinaggio artistico. Il numero elevato di atleti federali e un ferreo rispetto delle norme vigenti ha dato la possibilità a molti ragazzi di continuare l’attività agonistica nonostante le difficoltà dando speranza al loro futuro. 
          <br>
          <br>
          L’Associazione Pattinaggio Conselve ASD svolge da sempre le proprie attività presso la Tensostruttura Palamascagni di Via Pietro Mascagni, 20 a Conselve (PD) e da un paio di anni anche presso gli impianti sportivi dei comuni di Cartura e Tribano. 
          Questo dislocamento degli allenamenti permette ai nostri atleti una migliore preparazione agonistica e crea spazio per un sempre maggior numero di iscritti. 
        </p>
        
    </div>
</div>

<!-- CONSIGLIO DIRETTIVO -->
<div class="container bg-light shadow-lg " style="border-style:solid; border-color: #283869; border-radius: 2em;">
  <div class="container py-5 text-center">

    <h3>Consiglio direttivo</h3>
    <hr>
    <br>

    <div class="media mb-3">
      <div class="media-body">
        <h5 class="pt-2">Giulia Gobbo</h5>
        Presidente
        </div>
    </div>
    <div class="media mb-3">
      <div class="media-body">
        <h5 class="pt-2">Cristiana Rosso</h5>
        Vicepresidente
        </div>
    </div>
    <div class="media mb-3">
      <div class="media-body">
        <h5 class="pt-2">Barbara Zanuso</h5>
        Segretaria
        </div>
    </div>
    <div class="media mb-3">
      <div class="media-body">
        <h5 class="pt-2">Massimiliano Merlin</h5>
        Consigliere
        </div>
    </div>
    <div class="media mb-3">
      <div class="media-body">
        <h5 class="pt-2">Sara Martin</h5>
        Consigliere
        </div>
    </div>
    <div class="media mb-3">
      <div class="media-body">
        <h5 class="pt-2">Simone Bregantin</h5>
        Presidente Onorario
        </div>
    </div>
    
  </div>
</div>

<!-- ALLENATORI -->
<div class="container bg-light shadow-lg" style="border-style:solid; border-color: #283869; border-radius: 2em; margin-bottom: 1em;">
  <div class="container px-3 py-5">

    <h3>Allenatori</h3>
    <hr>

    <p class="text-center">I nostri corsi sono tenuti da insegnanti qualificati e professionisti del settore.</p>

    <div id="carouselExampleDark" class="carousel carousel-dark slide text-center" data-bs-ride="carousel" style="height: 50%;">
      <div class="carousel-inner">
        <div class="carousel-item active mb-5">
          <img class="rounded-circle shadow-1-strong mb-4 img-thumbnail" src="img/Giulia_Gobbo.jpeg" alt="" style="height: 10em;" />
          <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h5 class="mb-3">Giulia Gobbo</h5>
                        <p>Allenatore FISR 3^ livello</p>
                        <p class="text-muted">
                            <i class="fas fa-quote-left pe-2"></i>
                            Ex-atleta agonista con due partecipazioni ai campionati del mondo e un campionato europeo
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item mb-5">
                <img class="rounded-circle shadow-1-strong mb-4 img-thumbnail"
                    src="img/Martina_Padoan.jpeg" alt="avatar" style="height: 10em;" />
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h5 class="mb-3">Martina Padoan</h5>
                        <p>Allenatore FISR 1^ livello</p>
                        <p class="text-muted">
                        <i class="fas fa-quote-left pe-2"></i>
                        Psicologa clinica e dello sviluppo e ex atleta agonista con due partecipazioni ai campionati del mondo
                        </p>
                    </div>
                </div>
            </div>
          <div class="carousel-item mb-5">
                <img class="rounded-circle shadow-1-strong mb-4 img-thumbnail"
                    src="img/lisa_moda.png" alt="avatar" style="height: 10em;" />
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h5 class="mb-3">Lisa Moda</h5>
                        <p>Allenatore FISR 1^ livello</p>
                        <p class="text-muted">
                        <i class="fas fa-quote-left pe-2"></i>
                        Ex atleta agonista disciplina Solo Dance
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item mb-5">
                <img class="rounded-circle shadow-1-strong mb-4 img-thumbnail"
                src="img/Braggie_Aurora.jpg" alt="avatar" style="height: 10em;" />
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h5 class="mb-3">Aurora Braggiè</h5>
                        <p>Istruttore giovanile FISR</p>
                        <p class="text-muted">
                        <i class="fas fa-quote-left pe-2"></i>
                        Atleta agonista con partecipazione al campionato europeo
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item mb-5">
                <img class="rounded-circle shadow-1-strong mb-4 img-thumbnail"
                src="img/logo.png" alt="avatar" style="height: 10em;" />
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h5 class="mb-3">Archita Marco, Barison Silvia, Annamaria Stevanin, Anita Zampieri, Jessica Bergo</h5>
                        <p>Aiuto allenatori</p>   
                    </div>
                </div>
            </div>
            <div class="carousel-item mb-5">
              <img class="rounded-circle shadow-1-strong mb-4"
              src="img/logo.png" alt="avatar" style="height: 10em;" />
              <div class="row d-flex justify-content-center">
                  <div class="col-lg-8">
                      <h5 class="mb-3">Massimo Carraro, Giusy Locane, Martina Guandalini, Alberto Burba, Elisa Cavallin</h5>
                      <p>Collaboratori</p>   
                  </div>
              </div>
            </div>
          </div>
          <div class="carousel-indicators mt-5">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PALMARES -->
<div class="container bg-light shadow-lg" style="border-style:solid; border-color: #283869; border-radius: 2em; margin-bottom: 1em;">
  <div class="container px-3 py-5">
    <h3>Palmares</h3>
    <hr>
    <h5 class="text-center">Alcuni dei più importanti risultati raggiunti dai nostri atleti e staff dal 2015</h5>
    <br>
    <div id="palmares"></div>
    <br>
  </div>
</div>

<script src="./js/about.js"></script>
      




