<div class="container bg-light shadow-lg" style="border-style:solid; border-color: #283869; border-radius: 2em; margin-bottom: 1em;">
    <div class="container px-3 py-5">
        <section id="map">
                <div class="container px-3 py-2">
                    <h3>Dove trovarci</h3>
                    <hr>
                    <br>
                    
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=palamascagni&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></style></div></div>
                    <br>
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22484.51852756742!2d11.8281102!3d45.2161411!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477ee5c3297abaad%3A0x8e30552a68f3cfbd!2sPalestra%20scuole%20medie%20Tribano!5e0!3m2!1sit!2sch!4v1704573869076!5m2!1sit!2sch" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></style></div></div>
                    <br>
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d524.1784655268966!2d11.85993736995824!3d45.269164559658066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDXCsDE2JzA5LjciTiAxMcKwNTEnMzUuOSJF!5e0!3m2!1sde!2sch!4v1704574040967!5m2!1sde!2sch" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></style></div></div>
                </div>
        </section>
    </div>
</div>

<div class="container bg-light shadow-lg" style="border-style:solid; border-color: #283869; border-radius: 2em; margin-bottom: 1em;">
    <div class="container px-3 py-5">
        <h3>Contatti</h3>
        <hr>
        <br>
        <div class="row justify-content-center">

            <div class="card my-3 mx-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <img src="img/Giulia_Gobbo.jpeg" class="card-img img-thumbnail" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title mt-2"><b>Presidente</b></h4>
                        <h4 class="card-title">Giulia Gobbo</h4>
                        <h5 class="card-text">+39 333 5235463</h5>
                        <h5 class="card-text">gobbo.giulia@gmail.com</h5>
                    </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card my-3 mx-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <img src="img/logo.png" class="card-img pt-2" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title mt-2"><b>Prenotazione prove e segreteria</b></h4>
                        <h4 class="card-title">Zanuso Barbara</h4>
                        <h5 class="card-text">+39 347 725 2079</h5>
                        <h5 class="card-text">patt.conselve@virgilio.it</h5>
                    </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="row justify-content-center">
            <div class="card my-3 mx-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <img src="img/logo.png" class="card-img img-thumbnail" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title mt-2"><b>Safeguarding</b></h4>
                        <h4 class="card-title">Dott.ssa Montecchio Valentina</h4>
                        <h5 class="card-text">safeguarding.pattconselve@gmail.com</h5>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-light shadow-lg justify-content-center" style="border-style:solid; border-color: #283869; border-radius: 2em; margin-bottom: 1em;">
    <div class="container px-3 py-5">
        
        <br>
        <div class="container" style="text-align: center;">
            
                <h4><b>ASSOCIAZIONE PATTINAGGIO CONSELVE</b></h4>
            <h5><i>Associazione Sportiva Dilettantistica</i></h5>
            <h5>Via P. Mascagni, 20</h5>
            <h5>35026 Conselve</h5>

            <h5>C.F. 92170570284</h5>
            <h5>P.IVA 05247600280</h5>
            <h5>IBAN IT27B0200862540000105367451</h5>

            <h5>patt.conselve@virgilio.it</h5>
            
        </div>
    </div>
</div>


