
<div class="container bg-light shadow-lg" style="border-style:solid; border-color: #283869; border-radius: 2em; margin-bottom: 1em;">
  <div class="container px-3 py-5 ">

    <h3>I nostri corsi</h3>
    <hr>
    <br>

    <div class="row justify-content-center">
      <div class="col-auto text-center">
        <div class="container mb-2">
          <button class="button-18" type="button" data-bs-toggle="collapse" data-bs-target="#artistico" aria-expanded="true" aria-controls="artistico">
            Artistico
          </button>
        </div> 
      </div>

      <div class="col-auto text-center">
        <div class="container">
          <button class="button-18" type="button" data-bs-toggle="collapse" data-bs-target="#roller" aria-expanded="false" aria-controls="roller">
              Roller
          </button>
        </div>
      </div>

      <div class="collapse" id="roller">
          <div class="container px-3 py-5">  
            <div class="text-center">
              <h2><b><i>ROLLER</i></b></h2>
              <br>
            </div>

            <div class="card border-0">
              <div class="card-body text-center">
              <h3 class="card-title"><i><b>Corso di pattinaggio inline freestyle per bambini e ragazzi</b></i></h3>
              <p class="card-text">Il corso introduce alle varie discipline dell'Inline Freestyle, da quelle più grintose del Rollercross (percorsi ad ostacoli con curve, rampe, sottopassi, salti..) e dei salti del Free Jump a quelle più artistiche del Freestyle Slalom, che prevedono l'esecuzione di passi tecnici e coreografici all'interno di file di coni.
                Durante la stagione sportiva gli atleti partecipano a competizioni nelle varie specialità a livello regionale e italiano organizzate da AICS e FISR.
              </p>
          
              <p class="card-text"><b>Numero atleti: </b>20</p>
          
              <p class="card-text"><p>Venerdì 16:30 - 18:00 | Palamascagni (Conselve)</p>
                  <a href="https://www.pattinaggioconselve.it/page.html#contacts"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                  <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>Mappa</a><br>
              </p>
              </div>
          </div>        
        </div>
      </div>
      
      <div class="collapse show">
        <div class="container px-3 py-5">
          <div class="text-center">
            <h2><b><i>ARTISTICO</i></b></h2>
            <br>
          </div>
          <div id="artistico"></div>
        </div>
      </div>
    </div>
  </div>

<script src="js/courses.js"></script>

