<div class="container bg-light shadow-lg" style="border-style:solid; border-color: #283869; border-radius: 2em; margin-bottom: 1em;">
    <div class="container px-3 py-5">
    
        <h3>Documenti</h3>
        <hr>
        <br>
        <ul class="py-2">
            <li class="py-2">
                <a href="files/regolamento_interno_asd.pdf" attributes-list download>
                 Regolamento interno
              </a>
            </li>
            <li class="py-2">
                <a href="files/regolamento_interno_safeguarding.pdf" attributes-list download>
                Regolamento interno - Safeguarding
              </a>
            </li>
            <li class="py-2">
                <a href="files/modulo_associativo_atleti_minorenni.pdf" attributes-list download>
                 Modulo associativo - Atleti minorenni
              </a>
            </li>
            <li class="py-2">
                <a href="files/modulo_associativo_atleti_maggiorenni.pdf" attributes-list download>
                 Modulo associativo - Atleti maggiorenni
              </a>
            </li>
            <li class="py-2">
                <a href="files/Richiesta_visita_medico_sportiva_-_Ospedali_Riuniti_Padova_Sud.pdf" attributes-list download>
                Richiesta visita medico sportiva - Ospedali Riuniti Padova Sud
              </a>
            </li>
            <li class="py-2">
                <a href="files/MOG.pdf" attributes-list download>
                Modulo organizzativo e di controllo dell'attività sportiva
              </a>
            </li>
            <li class="py-2">
                <a href="files/5x1000.pdf" attributes-list download>
                Donazione 5x1000
              </a>
            </li>
        </ul>
    </div>
</div>
