
<div class="container bg-light shadow-lg" style="border-style:solid; border-color: #283869; border-radius: 2em; margin-bottom: 1em;">
    <div class="container px-3 py-5">
        <h3>News | Eventi | Gallery</h3>
        <hr>
        <br>
        <h3><i>Dalla nostra pagina Facebook</i></h3>
        <br>
        <div id="carouselExampleDark" class="carousel carousel-dark slide text-center" data-bs-ride="carousel" style="height: 50%;">
            <div class="carousel-inner">
                <div id="iframe"></div>
                <div class="carousel-indicators mt-5">
                    <button type="button" style="width: 2em;" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
            </div>
        </div>

        <br><br>

        <h3>Eventi</h3>
        <hr>
        <br>

        <div id="locandine" class="carousel carousel-dark slide text-center" data-bs-ride="carousel" style="height: 35em;">
            <div class="carousel-inner">
                <div class="carousel-item active mb-5"> 
                    <h4>Galà di fine anno</h4>
                    <br>
                    <div class="row justify-content-center">
                        <img src="img/gala_2024.jpg" alt="Galà di fine anno" class="img-thumbnail" style="width: 20em;">
                    </div>
                </div>
                <div class="carousel-item mb-5"> 
                    <h4>4° Trofeo Pattini d'Oro</h4>
                    <br>
                    <div class="row justify-content-center">
                        <img src="img/tpo_2023.jpg" alt="Locandina 4° Trofeo Pattini d'Oro" class="img-thumbnail" style="width: 20em;">
                    </div>
                </div>
                <div class="carousel-item mb-5"> 
                    <h4>Intensive Skating Summer Edition</h4>
                    <br>
                    <div class="row justify-content-center">
                        <img src="img/Intensive_Skating_Summer_Edition1024_1.jpg" alt="Locandina Intensive Skating Summer Edition" class="img-thumbnail" style="width: 20em;">
                    </div>
                </div>
                <div class="carousel-item mb-5"> 
                    <h4>Il colore dei sogni - Festa di fine anno</h4>
                    <br>
                    <div class="row justify-content-center">
                        <img src="img/Volantino.jpg" alt="Locandina Il colore dei sogni" class="img-thumbnail" style="width: 20em;">
                    </div>
                </div>
                <div class="carousel-item mb-5"> 
                    <h4>Trofeo Città di Conselve 2023</h4>
                    <br>
                    <div class="row justify-content-center">
                        <img src="img/trofeo_int_acsi-1.jpg" alt="Locandina Trofeo Città di Conselve 2023" class="img-thumbnail" style="width: 20em;">
                    </div>
                </div>
                <div class="carousel-item mb-5"> 
                    <h4>3° Trofeo Pattini d'Oro</h4>
                    <br>
                        <img src="img/pattini_doro.jpeg" alt="Locandina 3° Trofeo Pattini d'Oro" class="img-thumbnail">
                    </div>
                </div>

                <div class="carousel-indicators mt-5">
                    <button type="button" style="width: 2em;" data-bs-target="#locandine" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#locandine" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#locandine" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#locandine" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#locandine" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#locandine" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
            </div>
        </div>

        <br><br>

        <h3>Galleria</h3>
        <hr>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img class="img-thumbnail rounded px-auto d-block" src="img/Foto1.jpg" alt="First slide">
                </div>
                <div class="col-sm">
                    <img class="img-thumbnail rounded px-auto d-block" src="img/Foto4.jpg" alt="Second slide">
                </div>
                <div class="col-sm">
                    <img class="img-thumbnail rounded px-auto d-block" src="img/Foto3.jpg" alt="Third slide" >
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm">
                <img class="img-thumbnail rounded px-auto d-block" src="img/Foto2.jpg" alt="Second slide">
                </div>
                <div class="col-sm">
                <img class="img-thumbnail rounded px-auto d-block" src="img/Foto5.jpg" alt="Third slide">
                </div>
                <div class="col-sm">
                <img class="img-thumbnail rounded px-auto d-block" src="img/Foto6.jpg" alt="Second slide">
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm">
                <img class="img-thumbnail rounded px-auto d-block" src="img/Foto7.jpg" alt="Third slide">
                </div>
                <div class="col-sm">
                <img class="img-thumbnail rounded px-auto d-block" src="img/Foto8.jpg" alt="Second slide">
                </div>
                <div class="col-sm">
                <img class="img-thumbnail rounded px-auto d-block" src="img/Foto9.jpg" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./js/news.js"></script>
