<div class="container bg-light shadow-lg" style="border-style:solid; border-color: #283869; border-radius: 2em; margin-bottom: 1em;">
    <div class="container px-3 py-5 text-center">            

        <h3>Partners</h3>
        <hr>
        <br>
        <div class="row text-center">
            <div class="col">
                <a href="https://www.isokit.it/"><img src="img/isokit.jpg" alt="Isokit Srl logo" style="width: 90%;"></a>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <a href="https://bestespresso.biz/"><img src="img/bestespresso.jpg" alt="Best Espresso logo" style="width: 90%;"></a>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <a href="http://www.videoispezioni.it/"><img src="img/logo_milan5.svg" alt="Milan logo" style="width: 90%;"></a>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <a href="http://www.rotoinfissioni.it/"><img src="img/rotoinfissioni.png" alt="Milan logo" style="width: 90%;"></a>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>

<div class="container bg-light shadow-lg" style="border-style:solid; border-color: #283869; border-radius: 2em; margin-bottom: 1em;">
    <div class="container px-3 py-5 text-center">            

        <h3>Affiliazioni</h3>
        <hr>
        <p>L'associazione è iscritta al registro del CONI, affiliata alla Federazione Italiana Sport Rotellistici (FISR), oltre che all'AICS e ACSI, enti sportivi con i quali svolge l’attività agonistica con ottimi risultati in campo provinciale, regionale e nazionale. </p>
        <div class="row mt-5 pt-5 justify-content-center">
            <div class="col d-flexmy-auto">
                <img src="img/acsi.jpg" alt="" style="width: 90%;">
            </div>
            <div class="col d-flex my-auto">
                <img src="img/aics.jpg" alt="" style="width: 90%;">
            </div>
            <div class="col d-flex my-auto">
                <img src="img/fisr.png" alt="" style="width: 90%;">
            </div>
        </div>
    </div>
</div>